<div class="d-flex justify-content-between border-bottom mb-5">
  <h2 class="mb-4">Shoping Cart</h2>
  <h2 class="mb-4">{{ cartItems }} items</h2>
</div>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col" class="text-uppercase text-muted">product details</th>
      <th scope="col" class="text-uppercase text-muted">quantity</th>
      <th scope="col" class="text-uppercase text-muted">price</th>
      <th scope="col" class="text-uppercase text-muted">total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of cart?.products">
      <th class="d-flex align-items-center">
        <img
          width="100"
          [src]="product.product.imageCover"
          [alt]="product.product.title"
          class=""
        />
        <ul class="mx-2 d-inline-block list-unstyled">
          <li class="fw-bolder">{{ product.product.title }}</li>
          <li class="fw-bolder text-main">
            {{ product.product.category.name }}
          </li>
          <li class="text-muted">
            <button
              (click)="removeProduct(product.product._id)"
              class="btn p-0"
            >
              <fa-icon class="text-danger" [icon]="faTrash"></fa-icon>
            </button>
          </li>
        </ul>
      </th>
      <td class="align-middle">
        <button
          (click)="
            updateProductQuantity(product.product._id, product.count - 1)
          "
          class="btn"
        >
          <fa-icon [icon]="faMinus"></fa-icon>
        </button>
        <span class="border-main p-2">{{ product.count }}</span>
        <button
          (click)="
            updateProductQuantity(product.product._id, product.count + 1)
          "
          class="btn"
        >
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </td>
      <td class="align-middle">{{ product.price }} EGY</td>
      <td class="align-middle">{{ product.price * product.count }} EGY</td>
    </tr>
  </tbody>
</table>
