<div class="p-5 bg-main-light">
  <h4>Get the FreshCart app</h4>
  <p>We will send you a link, open it on your phone to download the app</p>
  <div class="row px-3 d-flex justify-content-center">
    <div class="col-10">
      <input type="email" class="form-control" placeholder="Email.." />
    </div>
    <div class="col-2 p-0">
      <button class="btn btn-primary bg-main w-75 ms-auto d-block">
        Share App Link
      </button>
    </div>
  </div>
  <hr />
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <span>Payment Parterners</span
      ><img width="80" src="assets/brands-logos/amazon-pay-logo.png" alt="" />
      <img width="80" src="assets/brands-logos/PayPal-Logo-PNG4.png" alt="" />
    </div>
    <div>
      <span class="mx-1">Get deliveris with FreshCart</span>
      <img
        class="mx-1"
        width="80"
        src="assets/app-download/app-store.png"
        alt=""
      />
      <img
        class="mx-1"
        width="80"
        src="assets/app-download/google-play.png"
        alt=""
      />
    </div>
  </div>
  <hr />
</div>
