<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold d-flex align-items-center" routerLink="home"
      ><img
        src="./assets/logo.png"
        alt="Logo"
        width="50"
        height="50"
        class="d-inline-block align-text-center"
      />FreshCart</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="isLoged" class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li *ngIf="isLoged" class="nav-item">
          <a
            class="nav-link"
            routerLink="/cart"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Cart</a
          >
        </li>
        <li *ngIf="isLoged" class="nav-item">
          <a
            class="nav-link"
            routerLink="/products"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Products</a
          >
        </li>
        <li *ngIf="isLoged" class="nav-item">
          <a
            class="nav-link"
            routerLink="/categories"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Categories</a
          >
        </li>
        <li *ngIf="isLoged" class="nav-item">
          <a
            class="nav-link"
            routerLink="/brands"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Brands</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item d-flex align-items-center">
          <fa-icon class="mx-1" [icon]="faInstagram"></fa-icon>
          <fa-icon class="mx-1" [icon]="faFacebook"></fa-icon>
          <fa-icon class="mx-1" [icon]="faTiktok"></fa-icon>
          <fa-icon class="mx-1" [icon]="faTwitter"></fa-icon>
          <fa-icon class="mx-1" [icon]="faLinkedin"></fa-icon>
          <fa-icon class="mx-1" [icon]="faYoutube"></fa-icon>
          <i></i>
        </li>
        <li *ngIf="!isLoged" class="nav-item">
          <a
            class="nav-link"
            routerLink="/register"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Register</a
          >
        </li>
        <li *ngIf="!isLoged" class="nav-item">
          <a
            class="nav-link"
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Login</a
          >
        </li>
        <li *ngIf="isLoged" class="nav-item">
          <span
            (click)="logout()"
            class="nav-link cursor-pointer"
            ariaCurrentWhenActive="page"
            >LogOut</span
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
