<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#"
      ><img
        src="./assets/logo.png"
        alt="Logo"
        width="50"
        height="50"
        class="d-inline-block align-text-center"
      />FreshCart</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Catigories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Brands</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fa fa-brands fa-instagram"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fa fa-brands fa-facebook"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fa fa-brands fa-tiktok"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fa fa-brands fa-twitter"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fa fa-brands fa-linkedin"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fa fa-brands fa-youtube"></i
          ></a>
        </li>
      </ul>
      <button class="btn btn-outline-success mx-1" type="submit">Login</button>
      <button class="btn btn-outline-success mx-1" type="submit">
        Register
      </button>
    </div>
  </div>
</nav>
